html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;
}
  
  .centered {
  margin: auto;
  width: 50%;
  allign-items: down;
  border: 2px solid #3823ec;
  padding: 10px;
  position: relative;
}


